.top {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background: url(../../public/top_background.jpg) center / cover;
    filter: brightness(80%);
    object-fit: cover;
}

.about {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .paper {
        max-width: 1028px;
        width: 80vw;
        min-height: 400px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #edf2f6;
    height: 100vh;
    
    .portfolioItemsArea {
        display: flex;
        justify-content: space-around;
        width: 80vw;
        padding: 20px;
        .portfolioItem {
            width: 20vw;
            img {
                width: 100%;
            }
        }

        .paper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 80vh;
            width: 80vw;
            .imgs {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-content: space-around;
                width: 50%;
                height: 40%;

                img {
                    width: 150px;
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        .portfolioItemsArea {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 80vw;
            height: 1000px;
        }
    }
}

.contact {
    height: 100vh;
    width: 100%;
}
