.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edf2f6;
    max-height: 100vh;
    padding: 20px;

    .portfolioItemsArea {
        display: flex;
        justify-content: space-around;
        width: 80vw;
        padding: 20px;
        .portfolioItem {
            width: 25vw;
            .mainImg {
                width: 100%;
                box-shadow: 2px 2px 4px gray;
                transition: 0.3s all;
                &:hover {
                    transform: scale(1.1, 1.1);
                    transition: 0.3s all;
                }
            }
            h4 {
                font-size: 2.0rem;
                text-align: center;
            }
        }

        .paper {
            display: flex;
            height: 80vh;
            width: 80vw;
            overflow: auto;
            padding: 10px;

            .itemTexts {
                display: flex;
                flex-flow: column;
                justify-content: space-around;
                width: 40%;
                padding: 10px;
                h2 {
                    text-align: center;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    margin: 10px 0px 10px 0px;
                    h4 {
                        text-align: left;
                        padding-left: 1rem;
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        padding: 0;
                    }
                    .link {
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .itemImgArea {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 60%;
                height: auto;
                .imgs {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-content: space-around;
                    height: auto;
                    img {
                        width: 150px;
                        margin: 5px;
                        box-shadow: 2px 2px 4px gray;
                    }
                }
                .activeImg {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px;
                    height: 70%;

                    img {
                        height: auto;
                        width: auto;
                        max-width: 100%;
                        max-height: 100%;
                        box-shadow: 2px 2px 4px gray;
                        object-fit: contain;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 900px) {
        .portfolioItemsArea {
            flex-direction: column;
            align-items: center;
            height: 100vh;
            .portfolioItem {
                width: 80%;
            }
            .paper {
                flex-flow: column;
                overflow-y: auto;
                .itemTexts {
                    width: auto;
                }
                .itemImgArea {
                    width: 100%;
                    .imgs {
                        display: none;
                    }
                    .activeImg {
                        padding: 0px;
                    }
                }
            }
        }
    }
}
