.basicBox {
    width: 200px;
    height: 65px;
    margin: 15px auto;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    line-height: 65px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 100px;
    cursor: pointer;

    svg {
        position: absolute;
        top: 0;
        left: 0;
    }
    svg rect,
    svg path,
    svg polyline {
        fill: none;
        stroke: #FFF;
        stroke-width: 3;
    }

    &:hover svg rect polyline {
        stroke: #FFF;
    }

    /* Basic Box */
    svg rect {
        stroke-dasharray: 400, 0;
        transition: all .9s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:hover svg rect {
        stroke-width: 3;
        stroke-dasharray: 390, 100;
        stroke-dashoffset: 360;
    }
}
