.top {
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.15);


    .titlearea {
        margin: 0;
        position: relative;
        top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            margin: 0;
            text-align: center;
            color: #FFF;
            font-size: 12rem;
        }
    }

    @media screen and (max-width: 900px) {
        .titlearea {
            h1 {
                font-size: 7rem;
            }
        }
    }
}